.error-message {
  background-color: #ef4a4adb !important;
  position: absolute !important;
  bottom: 20px;
  right: 20px;
  color: black !important;

  & .header {
    color: black !important;
  }
}
