.user-container {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
  justify-content: center;

  & .add-user-btn {
    margin: 20px;
  }

  & .user-item {
    display: flex;
    margin: 20px 0;
    padding: 10px;
    border: 1px solid;
    width: 500px;
  }

  & .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1 0 auto;
    margin-left: 10px;
  }
}
