.message-container .message {
  width: 50% !important;
  margin: 5px 10px 10px !important;
  padding: 5px !important;

  background-color: #f7f7f7 !important;
  border: 1px solid #a7a7a7 !important;

  word-break: break-all !important;

  & img {
    border-radius: 50% !important;
    vertical-align: middle !important;
  }

  & .content {
    padding-left: 15px !important;
  }

  & .content * {
    margin: 0 !important;
    font-size: 16px !important;

    & p {
      margin-right: 15px !important;
    }
  }

  & .content .extra {
    font-size: 12px !important;
    text-align: right;
  }

  & p {
    cursor: pointer;
    line-height: unset;

    &:hover {
      color: #444444;
    }
  }

  & .user-menu {
    display: flex !important;
    flex-direction: row !important;
    justify-content: flex-end !important;
  }

  & .hidden-button {
    display: none;
  }

  &:hover {
    .hidden-button {
      display: block;
    }
  }
}

.align-self-right {
  align-self: flex-end;
}
